# ignore files
.git/
.gitignore
.dockerignore
.gcloudignore

# Python
__pycache__/
*.py[cod]
venv/
env/
.venv/

# Docker
docker-compose.yml

# Secrets
.env
.env.example

# Documents
*.md

# IDE & OS 
.vscode/
.idea/
.DS_Store